body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #848e9f;
  overflow-x: hidden;
}
a:hover {
  color: #fff;
}
.fa-twitter {
  color: rgb(210, 240, 43);
  border-radius: 100%;
}
.fa-facebook {
  color: rgb(210, 240, 43);
  border-radius: 100%;
}
.fa-instagram {
  color: rgb(210, 240, 43);
  border-radius: 100%;
}
.fa-github {
  color: rgb(210, 240, 43);
  border-radius: 100%;
}
.fa-linkedin {
  color: rgb(210, 240, 43);
  border-radius: 100%;
}
.hero_poster_image {
  background-image: url("https://wallpaperaccess.com/full/4230797.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(3px); */
}
.skills > .carousel-item > img {
  width: 300px;
  height: 300px;
  margin-left: -175px;
}
.projects > .card > img {
  width: 20rem;
  height: 12rem;
}
.bg-image {
  background-image: url("/images/contactbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Contact form CSS */
.contactForm {
  box-shadow: 0px 0px 15px 2px #fff;
  padding: 30px;
  width: 650px;
}

.fields {
  border: none;
  border-bottom: 2px solid gray;
  width: 400px;
  border-radius: unset;
  font-size: smaller;
  font-family: sans-serif;
}
.form-submitbtn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bolder;
  font-family: initial;
}

.contact-detail-head {
  color: #fff;
  font-size: medium;
  padding: 25px 0px 0px 60px;
  font-weight: 600;
  font-family: sans-serif;
}

.contact-info {
  font-size: 13px;
  font-weight: 700;
  padding: 10px 0px 0px 90px;
}
.fa-phone {
  position: absolute;
  top: 25px;
  left: 30px;
  color: rgb(31, 206, 233);
  border-radius: 50%;
  /* line-height: 20px; */
  font-size: 16px;
}

.fa-location {
  position: absolute;
  top: 120px;
  left: 30px;
  color: rgb(14, 10, 144);
  border-radius: 50%;
  /* line-height: 20px; */
  font-size: 16px;
  padding: 0px 0px 0px 1px;
}

.fa-square-envelope {
  position: absolute;
  top: 215px;
  left: 30px;
  color: rgb(185, 10, 10);
  border-radius: 50%;
  /* line-height: 20px; */
  font-size: 16px;
}
@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}
